<!-- project/base.html -->
<!-- A template with common HTML code that will be reused by all of the other templates -->

{% load static %}
<html>
    <head>
        <title>Library Management System</title>

        <!-- favicon -->
        <link rel="icon" href="{% static 'favicon.ico' %}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'favicon.ico' %}" width="30" height="30" alt="">
                Library Management System
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'show_all_profiles' %}">All Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'show_all_books' %}">All Books</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex ms-auto align-items-center">
                {% if request.user.is_authenticated %}
                    <!-- Show logged-in user -->
                    <span style="margin-right: 20px;">Logged in as <strong>{{ request.user.username }}</strong></span>
                    <a href="#" class="btn btn-outline-primary me-3">My Profile</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Logout</a>
                {% else %}
                    <!-- Show Login and Sign Up buttons if not logged in -->
                    <a href="{% url 'login' %}" class="btn btn-light me-2">Login</a>
                    <a href="{% url 'sign_up' %}" class="btn btn-light">Sign up</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        <!-- Specific page details -->
        {% endblock %}
        <hr>
        <footer>
            Application created by Tian Herng Tan
        </footer>
    </body>
</html>