<!-- project/book_qr_code.html -->
<!-- Author: Tian Herng Tan (tanth@bu.edu), 12/10/2024 -->
<!-- A template with HTML code that shows the qr code for the book using an external api -->

{% extends 'project/base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>QR Code for {{ book.title }}</h1>
    <img src="{{ qr_code_url }}" alt="QR Code">
    <div class="mt-4">
        <a href="{% url 'show_book' book.pk %}" class="btn btn-secondary">Back to Book Details</a>
    </div>
</div>
{% endblock %}