<!-- project/logged_out.html -->

{% extends 'project/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg text-center">
                <div class="card-body">
                    <h2 class="text-success mb-4">You successfully logged out</h2>
                    <h3 class="text-secondary mb-3">You can log in again here:</h3>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}