<!-- project/login.html -->

{% extends 'project/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Card for Login Form -->
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <!-- Login Form -->
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                        {% else %}
                        <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
                        {% endif %}
                        <!-- Submit Button -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}