<!-- project/show_all_books.html -->
{% extends 'project/base.html' %}

{% block content %}
<h1>Show all Books</h1>
<main class="gird-container">
     <article>
        <div>
            <table>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                </tr>
                <!-- loop to display each Books -->
                {% for b in books %}
                <tr>
                    <td>
                        <a href="#">
                        {{b.title}}
                        </a>
                    </td>
                    <td>
                        <a href="#">
                        {{b.author}}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </article>
</main>
{% endblock %}