<!-- project/show_all_profiles.html -->
<!-- Author: Tian Herng Tan (tanth@bu.edu), 12/10/2024 -->
<!-- A template with HTML code that shows all profiles using a for loop -->

{% extends 'project/base.html' %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="display-4">All Profiles</h1>
</div>
<div class="container mt-5">
    <!-- Profiles Grid -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for profile in profiles %}
        <div class="col">
            <a href="{% url 'show_profile' profile.pk %}">
            <div class="card h-100">
                <!-- Profile Image -->
                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" class="card-img-top" alt="{{ profile.first_name }} {{ profile.last_name }}">
                {% else %}
                    <p>No profile image</p>
                {% endif %}
                <div class="card-body text-center">
                    <!-- Profile Details -->
                    <h5 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h5>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}