<!-- mini_fb/templates/mini_fb/base.html
 A template with common HTML code that will be re-used by all of the other templates. -->

 
{% load static %}
<html>
    <head>
        <title>Mini Fb</title>
        <link rel="stylesheet" href="https://cs-people.bu.edu/tanth/cs412/mini_fb_styles.css">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'show_all_profiles' %}"> Home</a>
                </li>
                <li>
                    <a href="{% url 'show_all_profiles' %}"> Show All</a>
                </li>
                <li>
                    <a href="{% url 'create_profile' %}"> Create profile</a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="logout">
                    </form>
                </li>
                <li>
                    Status: {{request.user}} is logged in
                </li>
                {% else %}
                <!-- This url should show when no one is logged in -->
                <li>
                    <a href="{% url 'login' %}"> Login</a>
                </li>
                <li>
                    Status: Not logged in
                </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        <!-- fill in this section with specific page detail  -->
        {% endblock %}
        <hr>
        <footer>
            Application created by Tian Herng Tan 
        </footer>
    </body>
</html>