<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Show Profile</h1>
<form action="{% url 'show_news_feed' profile.pk %}">
    <input type="submit" name="News Feed" value="News Feed">
</form>
<main class="gird-container">
     <article>
        <div>
            <table>
                <tr>
                    <td>
                        <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
                    </td>
                    <td>Hi, I'm {{profile.first_name}} {{profile.last_name}}
                        <br> <br>
                        From {{profile.city}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <h4><a href="{% url 'create_status' profile.pk %}">Add a status</a></h4>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <h4><a href="{% url 'update_profile' profile.pk %}">Update profile</a></h4>
                    </td>
                </tr>
            </table>
        </div>
    </article>
    <div id="profile-friends">
        {% if profile.get_friends %}
        <h2>Friends</h2> <br>
        {% for friend in profile.get_friends %}
        <a href="{% url 'show_profile' friend.pk %}">
            <img src="{{friend.profile_image_url}}" alt="{{friend.profile_image_url}}">
        </a>
        <a href="{% url 'show_profile' friend.pk %}">
        <p>{{friend.first_name}} {{friend.last_name}}</p>
        </a>
        {% endfor %}
        {% else %}
        <h2>No Friends</h2>
        {% endif %}
    </div>
    <h3><a href="{% url 'show_friend_suggestions' profile.pk %}">Friend Suggestions</a></h3>
    <div>
        {% if profile.get_status_messages %}
        <h2>Status Messages</h2>
        {% for status in profile.get_status_messages %}
        <div>
            <strong>On {{status.timestamp}}</strong>
            <p>{{status.message}}</p>
            <a href="{%url 'delete_status' status.pk %}">Delete</a>
            <a href="{%url 'update_status' status.pk %}">Update</a>
            <br>
            {% for image in status.get_images %}
            <img src='{{image.image_file.url}}' alt='{{image.image_file.url}}'>
            {% endfor %}
        </div>
        {% endfor %}
        {% else %}
        <h2>No Status Messages</h2>
        {% endif %}
    </div>
</main>
{% endblock %}