<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}
        <h1> About Jean-Paul Sartre </h1>
        <p> Jean-Paul Charles Aymard Sartre (/ˈsɑːrtrə/, US also /ˈsɑːrt/;[5] French: [saʁtʁ]; 21 June 1905 – 15 April 1980) was a French philosopher, playwright, novelist, screenwriter, political activist, biographer, and literary critic, considered a leading figure in 20th-century French philosophy and Marxism. Sartre was one of the key figures in the philosophy of existentialism (and phenomenology). His work has influenced sociology, critical theory, post-colonial theory, and literary studies. He was awarded the 1964 Nobel Prize in Literature despite attempting to refuse it, saying that he always declined official honors and that "a writer should not allow himself to be turned into an institution." </p>
        <p> Excerpt taken from <a href="https://en.wikipedia.org/wiki/Jean-Paul_Sartre">Wikipedia</a></p>

        <h2> Note about the creator </h2>
        <p> Hi, I'm Adam, and this Django project is created for the class CS412 taught at Fall 2024 in Boston University. This is my first deployed Django project!</p>
{% endblock %}
